#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form2-con{
  display: flex;
  flex-direction: column;
}

.form2-con form{
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 0 auto;
  padding: 2vh 3vw 6vh 3vw;
  background-color: aqua;
  border-radius: 5px;
}

.form2-con form input{
  padding: 1vh 0;
  margin: 1vh 0;
}

.form2-con form button{
  width: 5vw;
  margin: 0 auto;
  padding: 0.5vh 0.5vw;
}